
:root{
    --rowNum: 8;
    --colNum: 8;
    --gridHeight: 80vh;
    --gridWidth: 55vw;
}

html{
    margin: 0;
    padding: 0;
}

.App{
    position: relative;
}

.dungeon-grid-wrapper{
    position: absolute;
    display: inline-block;

    left: 30vw;
}

.dungeon-grid{
    display: grid;

    border: 1px solid gray;

    height: 80vh;
    width: 55vw;

    grid-template-rows: repeat(var(--rowNum), auto);
    grid-template-columns: repeat(var(--colNum), auto);
    grid-gap: 1px;
}

.controls-wrapper{
    position: absolute;
    display: inline-block;
}

.controls{
    border: 1px solid gray;
    display: inline-block;

    height: 80vh;
    width: 25vw;

    background-color: lightblue;
}

.table-large{
    background-color: #997a66;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.table-medium{
    background-color: #997a66;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.table-small{
    background-color: #997a66;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

}

.test{
    background: lightblue;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}