
:root{
    --rowNum: 10;
    --colNum: 10;
    --gridHeight: 90vh;
    --gridWidth: 45vw;
}

html{
    margin: 0;
    padding: 0;
}

.App{
    position: relative;
}

.input{
    width: 200px;
    height: 30px;

    border: none;
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    border-radius: 20px;
}

.dungeon-grid-wrapper{
    position: absolute;
    display: inline-block;

    left: 30vw;
}

.dungeon-grid{
    border: 1px solid gray;

    height: var(--gridHeight);
    width: var(--gridWidth);

    grid-template-rows: repeat(var(--rowNum), auto);
    grid-template-columns: repeat(var(--colNum), auto);
    grid-gap: 3px;
}

.controls-wrapper{
    position: absolute;
    display: inline-block;
}

.controls{
    border: 1px solid gray;
    display: inline-block;

    height: 80vh;
    width: 25vw;

    background-color: lightgray;
}

.table-large{
    background-color: #997a66;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.table-medium{
    background-color: #997a66;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.table-small{
    background-color: #997a66;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

}

.test{
    background: lightgray;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}